*{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;

}
.secao-topo{
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.952);
}
span{
    color: rgb(64, 64, 236);
}
.container{
    padding: 35px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container-menu{
    display: flex;
    gap: 15px;
}
.container-menu a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.container-logo span{
    color: rgb(64, 64, 236);
}
/* Estilo da parte banner */
.secao-banner{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(assets/img-fundo.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    
}
.container-banner{
    display: flex;
    align-items: center;
    justify-content: center;

  
    
}
.container-titu{
    font-size: 30px;
    font-weight: bold;
    color: white;
   background-color: rgba(107, 161, 25, 0.603);
    padding: 70px;
    border: 2px solid rgb(255, 255, 255);
}
.secao-bemvindo{
    text-align: center;
    padding: 80px;

}
.container-box{
    margin: 35px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}
.card-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px solid rgb(30, 184, 56);
    width: 350px;
}
.card-box a{
    margin: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

.container-img-box img{
    width: 100%;
}
.texto-sobre{
    font-size: 20px;
    line-height: 45px;
}
.secao-rota{
    background-color: rgb(242, 244, 247);
    box-shadow: 1px 1px 25px  inset rgba(0, 0, 0, 0.212);
    text-align: center;
    padding: 80px;
    line-height:40px;
}
.secao-rota h2{
    font-size: 30px;
    font-weight: bold;
}
.secao-rota p{
    font-size: 20px;
    color: gray;
}


iframe{
    margin-top: 5px;
}
.secao-sobre{
    
    text-align: center;
        margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    

  
   
}
.container-box-sobre{
  
    align-items: center;
    margin: 25px;
    gap: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    
   
 
}
.card-sobre{
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.212);
    padding: 15px;
    max-width: 450px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.container-imagem-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.container-imagem-sobre img{
    width: 100px;
    height: 100px;
    border-radius: 5px;

}
.container-texto{
    text-align: start;
    width: 340px;
}
.secao-sobre{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-texto h2{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
}
.container-texto{
    font-size: 15px;
    color: gray;
}
/*rodape*/
.secao-rodape{
    color: white;
    text-align: center;
    background-color: rgb(27, 196, 49) ;
    padding: 30px;
}
.container-rodape{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:15px
}
.box-rodape{
    border-radius: 5px;
    gap: 15px;
    text-align: left;
    width: 260px;
    display: flex;
    align-items: center;
}

   


.container-footer{
 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 100px;

}
.box-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 2px solid rgb(34, 206, 57);
    padding: 10px;
}