*{
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.secao-topo{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.904);
    z-index: 1;
    width: 100%;
}
.secao-topo span{
    color: rgb(64, 64, 236);
}
.container{
    flex-wrap: wrap;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-menu{
    display: flex;
    gap: 20px;

}
.container-menu a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.secao-banner{
   
    height: 35vh;
    background-image: url(assets/img-fundo.jpg);
    background-position: center;
    background-size: cover;
}
.secao-conteudo{
    box-shadow: 0 0 10px rgba(146, 145, 145, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.container-quartos{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.container-img{
    width: 300px;
}
.container-img img{
    border-radius: 10px;
    width: 100%;
    height: 200px;
   
}
.secao-lista{
    text-align: center;
    width: 100%;
}
.container-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container-lista ul{
    
    margin: 15px;
    flex-wrap: wrap;
    align-items: center;
    width: 800px;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.secao-lista li{
    text-align: left;
  font-size: 15px;
    color: gray;
    width: 170px;    
    text-align: center;
}
.secao-conteudo h2{
    font-size: 18px;
    font-weight: bold;
}
.secao-conteudo p{
    font-size: 18px;
    color: gray;
}
.secao-rodape{
    color: white;
    text-align: center;
    background-color: rgb(27, 196, 49) ;
    padding: 30px;
}
.container-rodape{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap:15px
}
.box-rodape{
    border-radius: 5px;
    gap: 15px;
    text-align: left;
    width: 260px;
    display: flex;
    align-items: center;
}

   


.container-footer{
 
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    height: 100px;

}
.box-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 2px solid rgb(11, 143, 29);
    padding: 10px;
}